input[type="file"] {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 640px;
}

.inputImg {
  position: relative;
  text-align: center;
  border-radius: 8px;
  color: #a9aaab;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 300px;
  max-width: 300px;
  height: 300px;
  background: #505e72;
  cursor: pointer;
}
.preview {
  position: relative;
  text-align: center;
  border-radius: 8px;
  color: #a9aaab;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  background: #505e72;
  cursor: pointer;
}

.preview canvas {
  border-radius: 8px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
}

.crop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;
}

.crop div img {
  max-height: 80vh;
}

.footerBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.desc {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.crop div {
  height: auto;
  margin: 0 auto;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonContainer {
  margin-top: 1rem;
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.buttonContainer button {
  width: 100px;
}

.buttonContainer button:first-child {
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  background: transparent;
  border: none;
}

@media (min-width: 550px) {
  .preview {
    height: 400px;
    max-height: 400px;
  }
  .preview canvas {
    border-radius: 8px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
  }
  .inputImg {
    width: 400px;
    max-width: 400px;
    height: 400px;
  }
}

@media (min-width: 720px) {
  .preview {
    height: 500px;
    max-height: 500px;
  }
  .preview canvas {
    border-radius: 8px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
  }
  .inputImg {
    width: 500px;
    max-width: 500px;
    height: 500px;
  }
}
