.container {
  width: 100%;
  max-width: 600px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .thumb {
  width: 100%;
  max-width: 380px;
  cursor: pointer;
}

.headerPost {
  width: 100%;
  padding: 0 10px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.profileHeader div {
  margin-left: 10px;
}

.profileHeader div small {
  color: #9c9a9a;
}

.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.context {
  cursor: pointer;
}

.desc {
  text-align: start;
  font-family: "Helvetica Neue", sans-serif;
  padding: 0 10px;
  width: 100%;
  max-width: 380px;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  cursor: pointer;
}

.showMore {
  align-self: flex-end;
  margin-right: 50px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(45deg, #00ccff 17.02%, #a661ff 83.32%),
    linear-gradient(270deg, #7214e9 40.47%, #0009e6 97.4%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
}

.footerPost {
  width: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 380px;
  border-bottom: 1px solid #b9b9b9;
  height: 70px;
}

.footerPost div svg {
  cursor: pointer;
  width: 26px;
  height: 24px;
  margin-right: 15px;
}

.footerPost p {
  font-size: 0.9rem;
  color: #b1b1b1;
}

@media (min-width: 550px) {
  .container .thumb {
    max-width: 500px;
  }
  .footerPost {
    max-width: 500px;
    padding: 0;
  }
  .headerPost {
    max-width: 500px;
    padding: 0;
  }
  .desc {
    max-width: 500px;
    padding: 0;
  }
  .footerPost div svg {
    width: 30px;
    height: 28px;
    margin: 0;
    margin-right: 20px;
  }
}
