@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");

body,
html,
#root,
.App {
  width: 100%;
  background: var(--background-primary);
  color: #fff;
  font-family: Archivo, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  outline: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #fff;
}

:root {
  --background-primary: #202731;
  --font-family-primary: "Archivo" sans-serif;

  font-size: 18px;
}
